.color_nav {
    background-color: #343A40;
}

.color_ticket {
    color: rgb(59, 177, 59);
}

.slide {
    margin-top: 0px;
}

.carousel-item img {
    display: flex;
    background: rgb(255, 255, 255);
    padding: auto;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    object-fit: cover;
}

.btn-verde {
	background-color: #2bb348;
	color: white; 
}

.btn-verde:hover {
	background-color: #1d5a36;
	color: white;
}

#header img {
	width: 80px;
}

#carousel {
	position: relative;
}

#textoDerecho {
    text-align: right;
}

#carousel .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

#place-time {
	background-color: #343a40;
	color: white;
}

#place-time img {
	max-width: 100%;
}

#btn-verde2 {
    background-color: #95d145;
}

#footer {
	background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
	color: white;
}